body{
	background-color: rgb(10,10,7); 
}

.top{
	height: 80px;
	width: 100%;
	text-transform: uppercase;
	font-size: 4em;
	white-space: normal;
	text-align: center;
}

.time{
	font-size: 110px;
	color: white;
	text-align: center;
}